@{
    ViewData["Title"] = "Random Dog Picture";
}

<div class="container my-5 text-center">
    <h1>Random Dog Picture</h1>
    <img src="@ViewBag.DogImage" alt="Random Dog" class="img-fluid rounded shadow" />
</div>

